<h2>Task Details</h2>

<div *ngIf="task">
  <h3>{{ task.title }}</h3>
</div>

<!-- // id: number; -->
<div><span>ID: </span>{{ task.id }}</div>

<!-- // type: 'Story' | 'Bug'; -->
<div>
  <label for="type"> Type: </label>
  <select id="type" name="type" [(ngModel)]="task.type">
    <option *ngFor="let item of ['Story', 'Bug']" [value]="item">
      {{ item }}
    </option>
  </select>
</div>

<!-- // title: string; -->
<div>
  <label for="title"> Title </label>
  <input id="title" [(ngModel)]="task.title" />
</div>

<!-- // description: string; -->
<div>
  <label for="description"> Description </label>
  <input id="description" [(ngModel)]="task.description" />
</div>

<!-- // assignee: string; -->
<div>
  <label for="assignee"> Assignee </label>
  <input id="assignee" [(ngModel)]="task.assignee" />
</div>

<!-- // priority: 'Low' | 'Normal' | 'High' | 'Critical'; -->
<div>
  <label for="priority"> Priority </label>
  <select id="priority" name="priority" [(ngModel)]="task.priority">
    <option
      *ngFor="let item of ['Low', 'Normal', 'High', 'Critical']"
      [value]="item"
    >
      {{ item }}
    </option>
  </select>
</div>

<!-- // status: 'To Do' | 'In Progress' | 'Ready for Test' | 'Done'; -->
<div>
  <label for="status"> Status </label>
  <select id="status" name="status" [(ngModel)]="task.status">
    <option
      *ngFor="let item of ['To Do', 'In Progress', 'Ready for Test', 'Done']"
      [value]="item"
    >
      {{ item }}
    </option>
  </select>
</div>

<!-- // estimate: number; -->
<div>
  <label for="estimate"> Estimate </label>
  <input id="estimate" [(ngModel)]="task.estimate" />
</div>

<!-- // createdAt: string; -->
<div><span>Created At: </span>{{ task.createdAt }}</div>
<!-- <div>
  <label for="createdAt"> Created At </label>
  <input id="createdAt" [(ngModel)]="task.createdAt" />
</div> -->

<button class="button" (click)="updateTask()">Update task</button>
<button class="button" (click)="log(task)">Log task to console</button>
